<template>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Meeting Name</th>
        <th scope="col">Race Number</th>
        <th scope="col">Start Time</th>
        <th scope="col">Timer</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(value, i) in data" :key="i">
        <template v-if="i < 5">
          <th scope="row">{{ ++i }}</th>
          <td>{{ value.meeting_name }}</td>
          <td>{{ value.race_number }}</td>
          <td>{{ value.startTime }}</td>
          <td><ClockCountDown :time-left="value.countdownTime" /></td>
        </template>
      </tr>
    </tbody>
  </table>
</template>

<script>
/* eslint-disable */
export default {
  name: "myStore",
  data() {
    return {
      msg: "Test state",
      type: String,
      state: [],
    };
  },
  computed: {
    data() {
      // return data from actions 
      return this.$store.state.data;
    },
  },
  mounted() {
    this.$store.dispatch("getData");
    /**
     * run fetch every second 
     * definitely overkill, can probably check for farthest timestamp and re-fetch when we meet criteria 
     * and then just update time every second to use for countdown
     */
    // this.interval = setInterval(() => this.$store.dispatch("getData"), 1000);
  },
};
</script>
