<template>
  <p id="timer" v-if="this.secondCount > -1">{{ secondCount }}s</p>
  <div v-else>!!! Race Started !!! {{ secondCount }}</div>
</template>

<script>
/* eslint-disable */
// disable in js file

// removes itself when timer hits 60s
// count DOWN timer to indicate start of race time 
import timeLeft from "../../views/Home";
export default {
  // declare prop
  props: {
    timeLeft: {
      type: Number,
      required: true,
    },
  },

  data() {
    return {
      minuteCount: 1,
      // variable to be passed in
      secondCount: this.timeLeft,
    };
  },
  watch: {
    secondCount: {
      handler(value) {
        // catch timer on first load
        if (value >= -220) {
          setTimeout(() => {
            this.secondCount--;
          }, 1000);
        }
      },
      // trigger on creation
      immediate: true,
    },
  },
};
</script>
