<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>
      Place documentation here TODO 
      1. unit tests
      2. Doco 
    </p>
    <ExampleStore />
  </div>
</template>

<script>
import { Options, Vue } from "vue-class-component";
import ExampleStore from "../components/ExampleStore.vue";

@Options({
  components: {
    ExampleStore,
  },
})
export default class About extends Vue {}
</script>
