<template>
  <div>
    {{ timerCount }}
    <table></table>
  </div>
</template>

<script>
/* eslint-disable */
/**
 * copy of countdown clock 
 */
export default {
  data() {
    return {
      timerCount: 30,
    };
  },
  watch: {
    timerCount: {
      handler(value) {
        if (value > 0) {
          setTimeout(() => {
            this.timerCount--;
          }, 1000);
        }
      },
      immediate: true, // This ensures the watcher is triggered upon creation
    },
  },
};
</script>
