<template>
  <div class="home">
    <RacingApp msg="Welcome to Your Vue.js + TypeScript App" />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import RacingApp from "../components/home/RacingApp.vue"; // @ is an alias to /src
import ClockCounter from "../components/clock/ClockCounter.vue";
import ClockCountDown from "../components/clock-countdown/ClockCountDown.vue";
import ExampleStore from "../components/ExampleStore.vue";

@Options({
  components: {
    RacingApp,
    ClockCounter,
    ClockCountDown,
    ExampleStore,
  },
})
export default class Home extends Vue {}
</script>
