<template>
  <body class="pad">
    <div>
      <h3>Next to Jump {{ raceType }}</h3>
      <div class="center">
        <button class="button bounce" id="reset" @click="onClick($event)">
          Racing
        </button>
        <button
          class="button bounce"
          style="animation-delay: 0.07s"
          id="9daef0d7-bf3c-4f50-921d-8e818c60fe61"
          @click="onClick($event)"
        >
          Greyhound
        </button>
        <button
          class="button bounce"
          style="animation-delay: 0.14s"
          id="161d9be2-e909-4326-8c2c-35ed71fb460b"
          @click="onClick($event)"
        >
          Harness
        </button>
        <button
          class="button bounce"
          style="animation-delay: 0.21s"
          id="4a2788f8-e825-4d36-9894-efd4baf1cfae"
          @click="onClick($event)"
        >
          Horse
        </button>
      </div>
      <div>
        <!-- table  -->
        <!-- <div :key="reRenderKey"> not used -->
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Meeting Name</th>
                <th scope="col">Race Number</th>
                <th scope="col">Start Time</th>
                <th scope="col">Timer</th>
              </tr>
            </thead>
            <tbody>
              <!-- use race_id as key so elements can disappear from view -->
              <tr v-for="(value, i) in dataResponse" :key="value.race_id">
                <template v-if="i < 5">
                  <th scope="row">{{ ++i }}</th>
                  <td>{{ value.meeting_name }}</td>
                  <td>{{ value.race_number }}</td>
                  <td>{{ value.startTime }}</td>
                  <td><ClockCountDown :time-left="value.countdownTime" /></td>
                </template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</template>

<script src="./app.ts"></script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "./styles.scss";
</style>
