h3 {
  margin: 40px 0 0;
  color: #009879;
  font-family: "Roboto", sans-serif;
  padding-left: rem(100px);
  padding-bottom: 1em;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
}
h2 {
  margin: 40px 0 0;
  color: aqua;
}
button.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #009879;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #009879;
  text-align: center;
  transition: all 0.2s;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  // border: 3px solid #009879;
}
button.button:hover {
  color: #ffffff;
  background-color: #009879;
}
@media all and (max-width: 30em) {
   button.button {
    display: block;
    margin: 0.4em auto;
  }
}

// button styling
.bounce {
  animation: bounce 5s infinite linear;
  position: relative;
}
// try out animation
@keyframes bounce {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

a {
  color: #42b983;
}
// pad out screen bounds
body.pad {
  padding-left: 1%;
  padding-right: 1%;
}
// list styling
.list {
  font-family: "Roboto", sans-serif;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-top: 1em;
  margin-bottom: 40px;
  user-select: none;
  overflow-x: auto;
}
.table {
  // no space between cells
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  min-width: 400px;
  // add shadow
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  font-weight: 300;
}
.table thead tr {
  // style green
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
// add bottom border to each row
.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

// style every second row
.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

// add bottom border
.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
