<template>
  <div id="timer" v-if="this.timerCount <= 60">+{{ timerCount }}seconds</div>
</template>

<script>
/**
 * was going to use this to count UP from 1 and increment to one minute past race time
 * but ClockCountDown can just count negative
 */

/* eslint-disable */
// removes itself when timer hits 60s
// count UP timer to aid in removing item from array if 1 minutes past race time
export default {
  props: ["count"],
  data() {
    return {
      // can always count up from 1, since race will disappear after 60s
      timerCount: 1,
    };
  },
  watch: {
    timerCount: {
      handler(value) {
        if (value >= 0) {
          setTimeout(() => {
            this.timerCount++;
          }, 1000);
        }
      },
      // trigger on creation
      immediate: true,
    },
  },
};
</script>
